.container {
  /* This way it could be display flex or grid or whatever also. */
  display: block;

  /* Probably need media queries here */

  /* width: 600px; */
  min-width: 320px;
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  padding: 1rem;

  /* Use this for centering if unknown width/height */
  transform: translate(-50%, -50%);

  /* If known, negative margins are probably better (less chance of blurry text). margin: -200px 0 0 -200px; */
  background: white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
}

.titleContainer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2rem;
  border-bottom: 1px solid rgb(204, 204, 204);
  margin-bottom: 1.2rem;
}
