.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.select {
  border-style: none;
  width: 100%;
  padding: 0.75rem 0.5rem;
  background-color: var(--color-main-light);
  color: var(--color-text);
  border-radius: 6px;
}

.select:focus {
  outline: none;
  border: 1px solid var(--color-header);
  box-shadow: 0 0 3px var(--color-header);
}

.errorMessage {
  color: var(--color-highlight);
}
