.container {
  display: grid;
  gap: 1rem;
  background-color: var(--color-main-medium);
  border: 0.5px solid var(--color-text);
  border-radius: 10px;
  padding: 1rem;
}

.horizontal {
  grid-auto-flow: row;
}

.vertical {
  grid-auto-flow: column;
}
