.container {
  display: flex;
  gap: 1rem;
  background-color: var(--color-main-medium);
  border: 0.5px solid var(--color-text);
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  height: 15rem;
}

.img {
  width: 100px;
  height: 100px;
}

.contentContainer {
  width: 100%;
  display: grid;
  gap: 1rem;
  align-content: space-between;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
  max-width: 10rem;
  place-items: center;
}

.titleAndDescription {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.editableContent {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  justify-content: space-between;
}

.deleteText {
  color: var(--color-highlight);
}
