.container {
  display: grid;
  background-color: var(--color-main-medium);
  grid-template-columns: 90%;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 100vh;
  grid-template-rows: 10% 6% 84%;
}
