@font-face {
  font-family: 'Roboto';
  src: url(src/assets/fonts/Roboto/Roboto-Medium.ttf),
    url(src/assets/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400, 500;
}

:root {
  /* Fonts */
  --font-family-primary: 'Roboto', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  /* Color */
  --color-text: #a0a1a4;
  --color-header: #d4d6d9;
  --color-main-dark: #090808;
  --color-main-medium: #111113;
  --color-main-light: #292a32;
  --color-main-bright: #fff;
  --color-highlight: #f13d3d;
  --color-action: linear-gradient(
    234.7deg,
    #9b82ff 4.2%,
    #5ab2eb 58.87%,
    #00f0ff 86.21%
  );
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-primary);
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}
