.layout {
  display: grid;
  grid-template-rows: 90vh 10vh;
  background-color: var(--color-main-medium);
}

.container {
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
}

.labelGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form {
  display: grid;
}

.textarea {
  height: 6rem;
}
