.layout {
  display: grid;
  grid-template-rows: 90vh 10vh;
  background-color: var(--color-main-medium);
}

.container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
  gap: 1rem;
  align-items: start;
  grid-template-rows: auto auto auto 1fr;
  overflow-y: scroll;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.kpiList {
  display: grid;
  gap: 1rem;
}
